@import 'variables';


body {
    font-family: Arial, sans-serif;
    background-color:  $background-color;
    color: $description-color-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $principal-color-font;
    font-size: 32px;
    font-weight: bold;
}

.content-wrapper {
    max-width: 1089px;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .subtitle {
        margin-top: 8px;
        font-size: 24px;
        margin-bottom: 0;
    }
}

.password-container-card {
    background-color: $password-background;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid $pink;
    margin-top: 57px;
    margin-bottom: 28px;
    align-items: center;

    .password-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;

        .password-text {
            font-size: 40px;
            font-weight: 500;
            color: $principal-color-font;
        }
    }

    .actions-wrapper {
        display: flex;
        gap: 32px;
    }
}

.settings-container {
    border: 1px solid #694a81;
    width: 100%;
    padding: 35px 40px;

    .settings-title {
        font-family: "Roboto Mono", monospace;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 38px;;
    }

    .settings-wrapper {
        display: flex;
        justify-content: space-between;

        .settings-description {
            font-size: 24px;
            margin-top: 0;
        }
    }

    .input-range {
        -webkit-appearance: none;
        border-radius: 4px;
        height: 8px;
        background: gray; 
        outline: none;
        opacity: 0.7;
        transition: opacity .15s ease-in-out;
        width: 100%;;
    }

    .input-range::-ms-fill-lower {
        background-color: white;
    }
}

.password-type-checkbox {

    font-size: 20px;

    input {
        width: 24px;
        height: 24px;
    }
    .checkbox-wrapper {
        margin-bottom: 16px;
    }
}

.force-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .box {
        width: 100%;
        height: 32px;
        background-color: $empty;
            
        &.weak {
            background-color: $weak;
        }
        
        &.medium {
            background-color: $medium;
        }
        
        &.strong {
            background-color: $strong;
        }

    }

}
