$background-color: #0F021b;
$principal-color-font: #fff;
$subtitle-color-font: #d7d5eb;
$description-color-font: #8a87aa;
$password-background: #2c1746;
$pink: #fd58ff;
$weak:  #e71b32;
$medium: #faf408;
$strong: #00ff85;
$empty: #2c1746;



